<html>
	<body>
		<title>Home | LanConnect<>
	</body>
	<body>
		<div id="header">
			<div id='brand'>
				<img src="{{ STATIC_URL }}site-wide/logo-web.png">
				<span id="site-brand">LanConnect</div>
			</div>
			<div id='user'>
				<a href='/users/twoolie'>tWoolie</a> | logout
			</div>
		</div>
		<div id="content" class="front-page">
			<div id="features">
				<div class="feature">
					<img class="feature-icon" src="{{ STATIC_URL }}site-wide/img/feature-social.png">
					<span class="feature-name">Social Portal</span>
					<span class="feature-desc">
						Keep your users coming back with forums and intgrated
						social features. Connect with Steam, Live and PSN to
						showcase you're user's achievements. Connect with other
						Lans and brag about you're user's tournament scores.
					</span>
				</div>
				<div class="feature">
					<img class="feature-icon" src="">
					<span class="feature-name">Lan Organisation</span>
					<span class="feature-desc">
						We have all the tools you need to setup your Lans and
						keep them running smoothly. 
					</span>
				</div>
				<div class="feature">
					<img class="feature-icon" src="">
					<span class="feature-name">On-site Tools and Services</span>
					<span class="feature-desc">
						We can provide you with the hardware you need to run
						a rock solid event with minimal setup time and no fuss.
						Let us make sure your users remember you for the right
						reasons.
					</span>
				</div>
			</div>
		</div>
		<div id="footer">
		</div>
	</body>
</html>